.productsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 4rem;
    gap: 3rem;
}
.productsText{
    color: #126CCC;
    font-size: 2.5rem;
    padding: 5px;
    border-bottom: 2px solid #126CCC;

}
.productsItems{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}