.new{
    max-width: 100vw;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    color: white;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    color: white;
}

@media (max-width:500px){
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
       display: none;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        display: none;
    }
    .new{
        width: 100vw;
        height:30vh;
    }
}